* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ebe8e3;
}

h2,
h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #4c4c4c;
}

h4,
h6 a {
  color: #4c4c4c;
}

h6 a {
  font-family: 'Libre Baskerville', serif;
}

p {
  color: #6e644d;
  max-width: 90%;
  margin: 0 auto;
}

.name {
  text-align: center;
}

.libre {
  font-family: 'Libre Baskerville', serif;
}
/*main navigation*/

.main-nav {
  margin-top: 2em;
}

.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
  margin-bottom: 5px;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: #4c4c4c;
  background-color: #f3f2ee;
  font-weight: bold;
}

/*main 1-col layout*/

.container {
  display: block;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.portfolio-item {
  margin-top: 40px;
  margin-bottom: 30px;
}

.col {
  padding-left: 5px;
  padding-right: 5px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer*/

footer {
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 2.5em;
  margin-bottom: .5em;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.footer-nav {
  position: relative;
  visibility: hidden;
}

.footer-nav-list {
  position: absolute;
  bottom: 1px;
  right: 0px;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav a {
  color: #4c4c4c;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

/* ID tags*/

#intro-image {
  margin: 0 auto 20px auto;
  max-width: 75%;
  height: auto;
}

#portfolio {
  background-color: #fbfbfa;
  max-width: 1366px;
  margin: 0 auto;
}

#contact p {
  max-width: 425px;
}

#contact a {
  color: #6e644d;
}

/* Media Queries*/

@media (min-width: 768px) {

  .container {
    width: 90%;
    max-width: 1023px;
    margin: 0 auto;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 15px;
  }

  .main-nav a {
    background-color: #ebe8e3;
  }

  #intro-image {
    float: right;
    margin-left: 20px;
  }

  #intro p {
    font-size: 22px;
    text-align: left;
    margin-left: 0;
  }

  .col {
    float: left;
    width: 50%;
  }

  .portfolio-item p {
    width: 80%;
  }

  footer h6 {
    visibility: hidden;
  }

  .footer-nav {
    visibility: visible;
    max-width: 1366px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {

  .name {
    float: left;
  }

  .main-nav {
    float: right;
    margin-top: 1em;
  }

  .col {
    float: left;
    width: 33.3333%;
  }

  .portfolio-item p {
    width: 75%;
  }

}
